body {
  background-color: $color-lightgray;
}

.mico-container {
  background-color: $color-white;
  box-shadow: 0px 0px 10px $color-gray;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $color-lightgray;
  height: 100px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  img {
    height: 90px;
    padding-top: 10px;
    float: left;
  }

  ul.navbar-nav {
    float: right;
    margin-top: 49px;
    font-size: 18px;

    li a {
      color: $color-darkgray;
    }

    li a:hover, li a:active, li a:focus {
      background-color: $color-white;
      color: $color-green;
    }

    li.active a {
      background-color: $color-white;
      color: $color-green;
    }
  }
}

#messages {
  z-index: 1000;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

a, a:hover, a:active, a:focus {
  color: $color-green;
}

.jumbotron {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: inherit;
  margin: 0 -15px;
  border-radius: 0px !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Custom page footer */
.footer {
  color: white;
  background-color: #aaa;
  padding-bottom: 40px;

  .footer-col {

    h3 {
      font-size: 16px;
    }
    a {
      color: white;
      text-decoration: underline;
    }
    img {
      margin-top: 10px;
    }
  }
}

.clear {
  clear: both;
}
