div.samples {

  border-bottom: 1px solid $color-lightgray;

  div.sample-image {
    background: no-repeat 50% 50%;
    background-size: 260px;
    max-width: 260px;
    height: 120px;
    opacity: 0.9;
    cursor: pointer;
    margin: 0 auto;

    i.sample-overlay {
      text-align: center;
      padding-top: 35px;
      display: none;
      font-size: 50px;
      color: black;
      opacity: 0.8;
    }
  }

  div.sample-image:hover {
    opacity: 1;
    box-shadow: inset 0 0 15px $color-darkgray;

    i.sample-overlay {
      display: block;
    }
  }
}
