$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$color-green: #93b35a;
$color-lightgreen: #eaf4d5;
$color-darkgreen: #3A6548;
$color-gray: #cccccc;
$color-lightgray: #efefef;
$color-darkgray: #333;
$color-red: #db0a40;
$color-orange: #F2940A;
//$color-green: #47a447;
$color-blue: #0A82C7;
$color-black: #000;
$color-white: #fff;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: $gray;
  color: $color-black;
  padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import "layout";

@import "samples";

.selectize-dropdown .active {
  background-color: $color-darkgreen;
}

.selectize-dropdown .active:hover {
  background-color: $color-darkgreen;
}

.ui-select-choices-row:hover{
  background-color: $color-lightgreen;
}

.info-box {
  background-color: $color-lightgreen;
  padding: 10px;

  h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: $color-darkgreen;
  }

  a, a:hover, a:active, a:focus {
    color: $color-darkgreen;
  }

  a, a:active, a:focus {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.workflows .status {
  float: right;
}

.workflows .ONLINE {
  color: $color-green;
}

.workflows .UNAVAILABLE {
  color: $color-orange;
}

.workflows .BROKEN {
  color: $color-red;
}

/*Upload*/
.upload {

  .text {
    height: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid $color-gray;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
  }

  .dropbox {
    background-color: $color-gray;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid $color-gray;
    cursor: pointer;
  }

  .dropbox:hover {
    border: 2px dashed $color-darkgray;
  }

  .dropbox i {
    color: $color-darkgray;
    opacity: 0.6;
  }

  .dropbox:hover i {
    opacity: 1;
  }

  margin-bottom: 30px;

  input {
    border: 4px solid $color-gray;
    padding: 6px;
    font-size: 16px;
    height: 40px;
  }

  input:focus {
    outline:none;
  }

  .button-box {
    padding: 0 0 10px 0;
  }

  .button {
    background-color: $color-gray;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    height: 40px;
    padding-top: 9px;

    i,span {
      color:$color-darkgray;
      opacity: 0.6;
    }
  }

  .button:hover {
    i,span {opacity: 1}
  }

  .button:disabled {
    i,span {opacity: 0.3}
  }

  .progress {
    border-radius: 0;
    box-shadow: none;
    background-color: $color-lightgray;
  }

  .progress-bar {
    background-color: $color-darkgreen;
  }

  video {
    background-color:  $color-gray;
  }

  .ng-camera-countdown {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 100px 20px;
    font-size: 100px;
    color: white;
  }
}

.textbox {
  padding-top: 20px;
  font-size: 18px;
  span.link {
    text-decoration: underline;
    cursor: pointer;
    color:$color-green;
  }

  span.conf {
    font-size: 10px;
    vertical-align: 4px;
    text-decoration: none;
  }

  span.conf:before {
    content: '(';
  }

  span.conf:after {
    content: ')';
  }

  .topics div {
    display: inline;
    padding-left: 10px;
  }

  .text {
    border: 1px solid $color-green;
    padding: 10px;
    margin: 10px 0 0 0;
  }

  .sentiment img {
    width: 34px;
  }

  .left {
    padding-right: 10px;

    .circle {
      border: 1px solid $color-green;
      color: $color-green;
      border-radius: 14px;
      height: 20px;
      padding: 4px;
      font-size: 14px;
    }
  }
}

.entities {
  margin-top:15px;

  div.entity {
    height: 200px;
    overflow: scroll;
    border: 1px solid $color-green;
    margin-bottom:10px;
    padding:10px;

    h1 {
      font-size: 18px;
      margin: 0 0 5px 0;
    }

    h2 {
      font-size: 14px;
      margin: 0 0 3px;
    }

    h3 {
      margin: 0 0 5px 0;
      font-size: 10px;
    }
  }
}

.requestview {
  position: fixed;
  bottom:0px;
  width: 100%;
  z-index: 2000;
  background-color: $color-lightgreen;

  div.content {
    border-top: 2px solid $color-darkgray;
    font-size: 12px;
    height: 100px;
    overflow: scroll;
  }

  button.toggle {
    float: right;
    position: relative;
    top: -24px;
  }
}

.imageresult {

  text-align: center;

  .inner {
    margin: 20px 0;
  }
  img#image {
    width: 100%;
  }
}

/* CODE MIRROR */
.CodeMirror {
  height: auto;
  margin: 0 auto;
  text-align: left;
  line-height: 18px;
}

.cm-s-mdn-like.CodeMirror {
  color: #666;
}

.cm-s-sparql-mm .cm-keyword {
  color: $color-green;
}

.cm-s-sparql-mm .CodeMirror-gutters {
  border-left: 0;
}

.cm-s-mdn-like .CodeMirror-selected {
  background: $color-green !important;
  opacity: 0.15;
}

.cm-s-sparql-mm .cm-atom {
  color: #666;
}

.cm-s-mdn-like .cm-variable {
  color: $color-red;
}

.cm-s-mdn-like span.cm-variable-2, .cm-s-mdn-like span.cm-tag {
  color: $color-blue;
}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
  min-height: 150px;
}

.cm-s-mdn-like .CodeMirror-linenumber {
  margin-left: -5px;
}


li.CodeMirror-hint-active {
  background: $color-green;
}

ul#writers {

  font-size: 16px;
  border: none;

  li a {
    color:#333;
  }

  li a:hover, li a:active, li a:focus {
    background-color: white;
    color: $color-green;
    border: 0;
    border-bottom: 2px solid $color-green;
    cursor: pointer;
  }

  li.active a {
    background-color: white;
    color: $color-green;
    border: 0;
    border-bottom: 2px solid $color-green;
  }
}

pre {
  border-radius: 0;
}

.videosegs {
  img {
    width: 100%;
  }
}

