<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <!-- build:ngAppp -->
  <!--<body ng-app="micoAppE2E" src="no">--> <!-- a strange replacement hack!-->
  <!-- endbuild -->
  <body ng-app="micoApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container mico-container ">
      <!-- Add your site or application content here -->
      <div class="header">
        <img src="images/Mico_Logo_mit_rgb.png" alt="logo">
        <ul class="nav navbar-nav">
          <li><a ng-href="/">Home</a></li>
          <li><a href="/main.html">Create Workflow</a></li>
          <li><a ng-href="/#!metadata">Sparql Metadata</a></li>
        </ul>
        <div class="clear"></div>
      </div>

      <div style="min-height: 300px">
        <div ng-view=""></div>
      </div>

      <div id="messages" ng-controller="MessageCtrl">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'info')" close="closeMessage(alert)"><span ng-bind="alert.msg"></span></div>
      </div>

      <div class="footer row">
        <div class="col-xs-4 footer-col">
          <h3>7th Framework Programme</h3>
          MICO (Media in Context) has received funding from the European Union’s Seventh Framework Programme for research, technological development and demonstration under grant agreement no. 610480.
          <a href="http://cordis.europa.eu/fp7/home_en.html"><img style="width: 50px" src="images/flag_eu_low.jpg"></a>
        </div>
        <div class="col-xs-4 footer-col">
          <h3>Partners</h3>
          <a href="http://www.mico-project.eu/partner/salzburg-research/">Salzburg Research</a><span>,&nbsp;</span>
          <a href="http://www.mico-project.eu/partner/fraunhofer/">Fraunhofer IDMT</a><span>,&nbsp;</span>
          <a href="http://www.mico-project.eu/partner/insideout10/">InSideOut10</a><span>,&nbsp;</span>
          <a href="http://www.mico-project.eu/partner/umea-university/">UMEA University</a><span>,&nbsp;</span>
          <a href="http://www.mico-project.eu/partner/university-of-oxford/">University of Oxford</a><span>,&nbsp;</span>
          <a href="http://www.mico-project.eu/partner/university-of-passau/">University of Passau</a><span>,&nbsp;</span>
          <a href="http://www.mico-project.eu/partner/zaizi-ltd/">Zaizi Ltd</a>
        </div>
        <div class="col-xs-4 footer-col">
          <h3>Contact</h3>
          <p><strong>Project Coordinator</strong><br>
            Salzburg Research Forschungsgesellschaft m.b.H<br>
            Jakob-Haringer Strasse 5/3 5020 Salzburg, Austria<br>
            John Pereira<br>
            <a href="mailto:john.pereira@salzburgresearch.at" class="encrypted-email">john.pereira@salzburgresearch.at</a><br>
            Phone: +43.662.2288.247</p>
        </div>
      </div>

    </div>

    <div ng-controller="RequestviewCtrl">
      <div ng-cloak ng-show="show" class="requestview ng-hide">
        <div class="content">
          <table class="table">
            <tr ng-repeat="request in requests">
              <td ng-bind="request.time | date:'yyyy-MM-dd HH:mm:ss'"></td>
              <td ng-bind="request.type"></td>
              <td ng-bind="request.label"></td>
              <td ng-bind="request.data"></td>
              <td>
                <a class="btn" ng-if="request.type=='Sparql'" ng-href="{{getLink(request)}}">Open</a>
                <a class="btn" ng-if="request.type=='Content'" target="_blank" ng-href="{{getLink(request)}}">Open</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <button class="btn" ng-show="show" ng-cloak style="position: fixed;bottom:99px;right:0" ng-click="show=false">Hide Requests</button>
      <button class="btn" ng-show="!show" ng-cloak style="position: fixed;bottom:-1px;right:0" ng-click="show=true">Show Requests</button>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <!-- endbower -->
    <script src="bower_components/codemirror/addon/hint/show-hint.js"></script>
    <script src="bower_components/codemirror/mode/sparql/sparql.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/upload.js"></script>
        <script src="scripts/controllers/workflows.js"></script>
        <script src="scripts/controllers/metadata.js"></script>
        <script src="scripts/directives/samples.js"></script>
        <script src="scripts/model/sample.js"></script>
        <script src="scripts/services/workflowservice.js"></script>
        <script src="scripts/controllers/message.js"></script>
        <script src="scripts/services/message.js"></script>
        <script src="scripts/directives/imagecapture.js"></script>
        <script src="scripts/controllers/video.js"></script>
        <script src="scripts/controllers/image.js"></script>
        <script src="scripts/controllers/text.js"></script>
        <script src="scripts/controllers/status.js"></script>
        <script src="scripts/services/sampleservice.js"></script>
        <script src="scripts/services/textanalysisservice.js"></script>
      <script src="scripts/services/sparqlservice.js"></script>
      <script src="scripts/services/statusservice.js"></script>
    <script src="scripts/services/imageanalysisservice.js"></script>
    <script src="scripts/services/videoanalysisservice.js"></script>
    <script src="scripts/directives/imageload.js"></script>
    <script src="scripts/directives/mediaoverlay.js"></script>
    <script src="scripts/directives/linkedentities.js"></script>
    <script src="scripts/directives/singleentity.js"></script>
    <script src="scripts/filters/urlstring.js"></script>
    <script src="scripts/filters/firstsentence.js"></script>
    <script src="scripts/controllers/requestview.js"></script>
    <script src="scripts/directives/tablewriter.js"></script>
    <script src="scripts/directives/xmlwriter.js"></script>
    <script src="scripts/directives/jsonwriter.js"></script>
    <script src="scripts/services/suggestions.js"></script>
    <script src="scripts/directives/sparqlresult.js"></script>
        <!-- endbuild -->

</body>
</html>
