<samples model="samples"></samples>
<div class="row">
  <div ng-if="!finished">
    <p style="text-align: center;font-size: 30px;padding-top: 20px">Analyzing ...</p>
  </div>
  <div ng-if="finished">
    <div class="imageresult col-md-4 col-md-offset-4">
      <div class="inner">
        <img id="image" ng-show="display" ng-src="{{imageSrc}}" media-overlay="imageOverlay">
        <img class="loader" ng-show="loading || !display" src="images/ajax-loader.gif">
      </div>
    </div>
  </div>
</div>
