<samples model="samples"></samples>
<div class="jumbotron">
  <div class="container">
    <p>The Mico Demo shows several outcomes of the Mico project. Try it out:</p>
    <div style="font-size: 21px;font-weight: 200;width: 700px;margin: 0 auto">
      <ui-select class="workflows" style="display: inline-block;float: left;width: 300px" ng-model="workflow" theme="selectize" on-select="onSelected($item)" style="width: 300px;" title="Choose a workflow">
        <ui-select-match placeholder="Select or search for a workflow...">{{$select.selected.workflowName}}</ui-select-match>
        <ui-select-choices repeat="workflow in workflows | filter: $select.search">
          <span ng-bind-html="workflow.workflowName | highlight: $select.search"></span><i ng-class="workflow.status" class="status glyphicon glyphicon-certificate"></i>
        </ui-select-choices>
      </ui-select>
      <span style="float: left;margin:0 30px">OR</span>
      <a style="float: left; width: 300px" class="btn btn-default" href="/main.html">Create New one</a>
      <div style="clear: both"></div>
    </div>
    <p>Or choose one of the examples above. Have Fun!</p>
  </div>
</div>
