<samples model="samples"></samples>
<div>
  <!--<span uib-dropdown >
    <a href id="simple-dropdown" uib-dropdown-toggle>
      Get examples!
    </a>-->
  <ul style="float: right;margin: 20px 90px 20px 0" class="dropdown-menu-right uib-dropdown-menu" aria-labelledby="simple-dropdown">
    <li ng-repeat="sample in sparql_samples">
      <a role="button" ng-click="selectSample(sample)">{{sample.name}}</a>
    </li>
  </ul>
  <!--</span>-->
</div>
<div class="clear"></div>

<div>
  <div style="width: 1000px;margin: 0 auto; margin-bottom: 20px; border: 1px solid #e5e5e5" id="query-container" resizable>
    <textarea id="input" ng-model="query" ui-codemirror="editorOptions"></textarea>
  </div>
  <div style="padding: 10px; margin-bottom: 20px; position: relative; text-align: center">
    <button class="btn" ng-click="run()">
      <i class="glyphicon glyphicon-chevron-right"></i><span ng-if="!loader">Run</span><img style="height: 20px" ng-if="loader" src="images/ajax-loader.gif">
    </button>
  </div>
</div>

<div ng-show="alert">
  <div class="alert ng-isolate-scope alert-success" ng-class="'alert-' + (alert.type || 'warning')">
    <div>
      <h2>{{alert.title}}</h2>
      <span>{{alert.msg}}</span>
    </div>
  </div>
</div>

<div style="width: 1000px;margin: 0 auto;" class="results" ng-show="result">
  <ul id="writers" class="nav nav-tabs">
    <li ng-repeat="w in writers" ng-class="w.id==writer.id ? 'active':''"><a ng-click="run(w)">{{w.name}}</a></li>
  </ul>
  <div class="results">
    <sparql-result></sparql-result>
  </div>
</div>
