<table style="border-top:1px solid #ccc;width:100%" class="paging" ng-show="bindings.length">
  <tr>
    <td style="padding: 20px;width: 33%;text-align: right"><div role="button" class="button" ng-disabled="!showPrev" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i></div></td>
    <td style="padding: 20px;width: 34%;text-align: center;"><div>Rows {{firstItem}} to {{lastItem}} of overall {{resultSize}}</div></td>
    <td style="padding: 20px;width: 33%;text-align: left"><div role="button" class="button" ng-disabled="!showNext" ng-click="next()"><i class="glyphicon glyphicon-chevron-right"></i></div></td>
  </tr>
</table>
<table ng-show="bindings.length" class="table table-striped table-bordered table-browse">
  <tr>
    <th class="browser-header" ng-repeat="header in headers">{{header}}</th>
  </tr>
  <tr ng-repeat="binding in bindings">
    <td ng-repeat="name in headers">
      <div class="uri" ng-show="binding[name].type == 'uri'">
        <span ng-click="selectURI(binding[name].value,name)">{{getDisplayName(binding[name].value)}}</span>
        <a class="external-link" ng-href="{{binding[name].value}}" target="_blank"><i class="fa fa-external-link"></i></a>
      </div>
            <span class="literal" ng-show="binding[name].type == 'literal'">{{binding[name].value}}
                <span class="lang" ng-show="binding[name]['xml:lang']">@{{binding[name]['xml:lang']}}</span>
                <span class="type" ng-show="binding[name]['datatype']">^^{{getDatatypeForBinding(binding[name])}}</span>
            </span>
      <span class="bnode" ng-show="binding[name].type == 'bnode'">_:{{binding[name].value}}</span>
    </td>
  </tr>
</table>
<div ng-show="!bindings.length" style="border-top: 1px solid #ccc;padding: 10px 0;">No results</div>
