<samples model="samples"></samples>
<div>
  <div ng-if="!finished">
    <p style="text-align: center;font-size: 30px;padding-top: 20px">Analyzing ...</p>
  </div>
  <div ng-if="finished">
    <div class="textbox">
      <div class="topics row">
        <div class="col-xs-9">
          <div ng-repeat="topic in result.topics">
            <span ng-bind="topic.label"></span>
            <span class="conf" ng-bind="topic.confidence | number:2"></span>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="left" style="float: right">
            <div class="sentiment" ng-if="result.sentiment != undefined">
              <img ng-if="result.sentiment > 0.2" src="images/noun/positive.png" title="{{result.sentiment}}">
              <img ng-if="result.sentiment <= 0.2 && result.sentiment >= -0.2" src="images/noun/neutral.png" title="{{result.sentiment}}">
              <img ng-if="result.sentiment < -0.2" src="images/noun/negative.png" title="{{result.sentiment}}">
            </div>
            <div class="circle" ng-if="result.language" ng-bind="result.language"></div>
          </div>
        </div>
      </div>
      <linked-entities entities="result.entities" text="text" class="text row"></linked-entities>
    </div>
    <div class="row">
      <div class="entities">
        <div class="col-md-4" ng-repeat="entity in result.entities | unique:'uri'">
          <singleentity  entity="entity"></singleentity>
        </div>
      </div>
    </div>
  </div>
</div>
