<samples model="samples"></samples>
<div class="row">
  <div ng-show="inputType == 'image'" class="upload col-xs-6 col-sm-offset-3">
    <div ng-show="!cameraEnabled" class="dropbox row" ngf-drop ngf-select ng-model="file"
         ngf-drag-over-class="'dragover'" ngf-multiple="false"
         accept="image/*"
         ngf-pattern="'image/*'" style="text-align: center;"> <!-- TODO set real mimetype -->
      <div ng-if="loadPhotodata">
        <img style="width:400px;height:296px" data-ng-src="{{photodata}}">
      </div>
      <div ng-if="!loadPhotodata" style="padding: 100px 20px">
        <p>Drop an image here, click to upload, post a URL or take a camera shot</p>
        <i style="font-size: 40px" class="glyphicon glyphicon-picture"></i>
        <p ng-if="file">Selected for upload: <span ng-bind="file.name"></span></p>
      </div>
    </div>
    <div style="position:relative;margin-top: 10px;" ng-show="cameraEnabled" class="ng-hide row">
      <image-capture
        type="photo"
        enabled="cameraEnabled"
        width="485"
        height="300"
        countdown="3"
        ng-model="photodata"
        callback="loadFromCamera()"
        capture-message="Go!"></image-capture>
    </div>
    <div class="row">
      <input class="input col-xs-8" ng-model="url" placeholder="Insert url here">
      <div class="col-xs-2 button-box"><div class="button" role="button" ng-click="loadFromURL(url)"><i class="glyphicon glyphicon-ok"></i></div></div>
      <div class="col-xs-2 button-box"><div class="button" role="button" ng-click="cameraEnabled=!cameraEnabled"><i class="glyphicon glyphicon-camera"></i></div></div>
    </div>
    <uib-progressbar ng-show="showProgress" value="progress" class="row"></uib-progressbar>
  </div>
  <div ng-show="inputType == 'text'"class="upload col-xs-6 col-sm-offset-3">
    <div ng-show="!insertText" class="dropbox row" ngf-drop ngf-select ng-model="file"
         ngf-drag-over-class="'dragover'" ngf-multiple="false"
         accept="text/*"
         ngf-pattern="'text/*'" style="text-align: center;padding:100px 20px"> <!-- TODO set real mimetype -->
      <p>Drop a textfile here, click to upload or use the textinput field</p>
      <i style="font-size: 40px" class="glyphicon glyphicon-align-justify"></i>
      <p ng-if="file">Selected for upload: <span ng-bind="file.name"></span></p>
    </div>
    <div class="row" ng-show="insertText">
      <textarea class="text" ng-model="text"></textarea>
    </div>
    <div class="row">
      <div class="col-xs-6 button-box"><div style="margin-left: 0" class="button" role="button" ng-click="insertText=!insertText"><i class="glyphicon glyphicon-align-justify"></i></div></div>
      <div class="col-xs-6 button-box"><div class="button" role="button" ng-click="loadText(text)"><i class="glyphicon glyphicon-ok"></i></div></div>
    </div>
    <uib-progressbar ng-show="showProgress" value="progress" class="row"></uib-progressbar>
  </div>
  <div ng-show="inputType == 'video'" class="upload col-xs-6 col-sm-offset-3">
    <div class="dropbox row" ngf-drop ngf-select ng-model="file"
         ngf-drag-over-class="'dragover'" ngf-multiple="false"
         accept="video/*"
         ngf-pattern="'video/*'" style="text-align: center;padding: 100px 20px"> <!-- TODO set real mimetype -->
      <p>Drop a video here or click to select a file. You can add your email address for notification (video processing will tale some time ;)</p>
      <p>Push the okay button to start the upload.</p>
      <i style="font-size: 40px" class="glyphicon glyphicon-play"></i>
      <p ng-if="file">Currently selected: <span ng-bind="file.name"></span></p>
    </div>
    <div class="row">
      <input class="input col-xs-10" ng-model="email" placeholder="Insert email here">
      <div class="col-xs-2 button-box"><div class="button" role="button" ng-click="loadFileWithEmail(email)"><i class="glyphicon glyphicon-ok"></i></div></div>
    </div>
    <uib-progressbar ng-show="showProgress" value="progress" class="row"></uib-progressbar>
  </div>
  <div ng-show="inputType == 'audio'" class="upload col-xs-6 col-sm-offset-3">
    <div class="dropbox row" ngf-drop ngf-select ng-model="file"
         ngf-drag-over-class="'dragover'" ngf-multiple="false"
         accept="audio/*"
         ngf-pattern="'video/*'" style="text-align: center;padding: 100px 20px"> <!-- TODO set real mimetype -->
      <p>Drop a audio file here or click to select a file. You can add your email address for notification (audio processing will tale some time ;)</p>
      <p>Push the okay button to start the upload.</p>
      <i style="font-size: 40px" class="glyphicon glyphicon-volume-down"></i>
      <p ng-if="file">Currently selected: <span ng-bind="file.name"></span></p>
    </div>
    <div class="row">
      <input class="input col-xs-10" ng-model="email" placeholder="Insert email here">
      <div class="col-xs-2 button-box"><div class="button" role="button" ng-click="loadFileWithEmail(email)"><i class="glyphicon glyphicon-ok"></i></div></div>
    </div>
    <uib-progressbar ng-show="showProgress" value="progress" class="row"></uib-progressbar>
  </div>
  <div ng-show="['video','audio','text','image'].indexOf(role)!=-1" class="upload col-xs-6 col-sm-offset-3">
    <p>
      The upload type defined by the workflow is currently not supported in the demo.
    </p>
  </div>
</div>
