<samples model="samples"></samples>
<div ng-if="!finished">
  <p style="text-align: center;font-size: 30px;padding-top: 20px">Analyzing ...</p>
</div>
<div ng-if="finished" class="row videosegs">
  <div style="margin-top:10px" class="row">
    <div class="col-md-6 col-md-offset-3">
      <video autoplay poster="images/vidloading.gif" ng-if="uri" controls ng-src="{{getVideoUrl()}}"></video>
    </div>
  </div>
  <div class="col-md-2" ng-repeat="segment in segments">
    <div style="margin: 10px">
      <img ng-src="{{getSegmentImgUrl(segment)}}">
      <table class="table">
        <tr><td>Start</td><td ng-bind="segment.range.start/1000 | number:2"></td></tr>
        <tr><td>End</td><td ng-bind="segment.range.end/1000 | number:2"></td></tr>
        <tr><td>Duration</td><td ng-bind="segment.duration/1000 | number:2"></td></tr>
      </table>
    </div>
  </div>
</div>
